<!-- Single row -->
<div class="row">
  <div class="col m4">
    <div class="card-panel blue-grey lighten-2">
      <div class="card-content black-text">
        <span class="card-title black-text">Are They YOUR Rights?</span>

        <form action='#'>
          <input name="rights-version" type="radio" id="simple-rights" (change)="ver('simple')" />
          <label for="simple-rights"><span class="black-text">Simple</span></label>

          <input name="rights-version" type="radio" id="full-rights" (change)="ver('full')"/>
          <label for="full-rights"><span class="black-text">Full</span></label>

          <input name="rights-version" type="radio" id="our-rights" (change)="ver('our')" />
          <label for="our-rights"><span class="black-text">Our Version</span></label>

        </form>
      </div>
    </div>

    <div class="card lime lighten-2">
      <div class="card-content black-text">
        <span class="card-title black-text">The Universal Declaration of Human Rights</span>

        <!-- List of simple rights -->
        <div *ng-if="version == 'simple'">
          <div *ng-for="#item of rights.simple">
            <div class="divider"></div>
            <div class="section">
              <h5>{{item.heading}}</h5>
              <p>{{item.text}}</p>
            </div>
          </div>
        </div>


        <!-- List of full rights -->
        <div *ng-if="version == 'full'">
          <div *ng-for="#item of rights.full">
            <div class="divider"></div>
            <div class="section">
              <h5>{{item.heading}}</h5>
              <p>{{item.text}}</p>
            </div>
          </div>
        </div>

        <!-- List of our version of the rights -->
        <div *ng-if="version == 'our'">
          <div *ng-for="#item of rights.our">
            <div class="divider"></div>
            <div class="section">
              <h5>{{item.heading}}</h5>
              <p>{{item.text}}</p>
            </div>
          </div>
        </div>


        <!-- <li *ng-for="#item of rights.simple">
          {{item.heading}}
        </li> -->
      </div>
    </div>

  </div>
  <style>
    #inclusions img {
        width: 50px;
        opacity: 0.3;
        transition: opacity .5s;
        -webkit-transition: opacity .5s;
    }
    #inclusions img.include {
        opacity: 1;
    }
    #inclusions img.itu {
        width: 70px;
        opacity: 1;
    }
  </style>
  <div class="col m8" id="inclusions">
    <h2>Here's who has these rights</h2>
      <div class="row">

          <div *ng-for="#item of includes" class="col m6">
            <div class="card-panel orange">
                <div class=""><h4>{{item.title}} <img class="itu right" src="graphics/{{item.url}}" /></h4></div>
                <div class="">
              <img src="graphics/cisfemale.png" [class.include]="item.includes[version][0]" class="tooltipped" data-position="top" data-tooltip="CIS Female" />
              <img src="graphics/cismale.png" [class.include]="item.includes[version][1]" class="tooltipped" data-position="top" data-tooltip="CIS Male" />
              <img src="graphics/hetero.png" [class.include]="item.includes[version][2]" class="tooltipped" data-position="top" data-tooltip="Hetero" />
              <img src="graphics/noncis.png" [class.include]="item.includes[version][3]" class="tooltipped" data-position="top" data-tooltip="Non-CIS" />
              <img src="graphics/nonhetero.png" [class.include]="item.includes[version][4]" class="tooltipped" data-position="top" data-tooltip="Non-hetero" />
                </div>
            </div>
          </div>


      </div>
  </div>
</div>
